{% extends "blog/base.html" %} {% block content %}
<div class="landing-content">
  <h2>About Our Climbing Blog</h2>
  <p>
    Welcome to our climbing blog! We're passionate about scaling heights,
    conquering mountains, and sharing our adventures with you. Whether you're an
    experienced mountaineer or a novice climber, this blog is your gateway to
    the thrilling world of climbing.
  </p>

  <h2>What You'll Find Here</h2>

  <p>
    Climbing Stories: We'll take you along on our climbing expeditions, sharing
    our experiences, challenges, and triumphs. Tips and Guides: Whether it's
    gear recommendations, safety tips, or training advice, we've got you
    covered.
  </p>
</div>
{% endblock %}
