{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Climbing Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>My Climbing Blog</h1>
        <p>A blog about climbing awesomeness</p>
        <nav>
          {% for item in nav_list %}
          <a href="{{ item.url }}">{{ item.name }}</a>
          {% endfor %}
        </nav>
      </div>
    </header>

    <div class="content-wrapper">
      <main>{% block content %} {% endblock %}</main>

      <section>
        <div class="sidebar">
          <h4>Popular Topics</h4>
          <ul>
            {% for topic in topics %}
            <li>
              <a href="{% url 'topic_detail' slug=topic.slug %}"
                >{{ topic.name }}</a
              >
              ({{ topic.post_count }} posts)
            </li>
            {% endfor %}
            <li><a href="{% url 'topics' %}">View All</a></li>
          </ul>
        </div>
      </section>
    </div>

    <footer>
      <div class="container">
        <p>&copy; 2023 My Climbing Blog</p>
      </div>
    </footer>
  </body>
</html>
