{% extends "blog/base.html" %} {% block title %} My Blog - Top Blogs
{%endblock%} {% block content %}
<div class="landing-content">
  <h2>Top Blogs</h2>
  <p>
    Discover the latest news, tips, and experiences from the climbing world.
  </p>
  <hr />
  <br />
  {% for post in posts %}
  <article class="post">
    <h3>{{ post.title }}</h3>
    <p>
      Topics: {% for topic in post.topics.all %}
      <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>
      {% if not forloop.last %}, {% endif %} {% endfor %}
    </p>
    <p>{{ post.author }} | {{post.published}}</p>
    <hr />
    <p>{{ post.content }}</p>
    <br />
  </article>
  {% endfor %}
</div>
{% endblock %}
